<div class="col-3"></div>
<div class="col d-flex  justify-content-center align-items-center">
  <h4 class="mt-2 white-permanent-color">{{ 'APP.NAME' | translate }}</h4>
  <h4 class="white-permanent-color version ms-2">{{ defaultVersion }}</h4>
</div>
<div class="col-3 d-flex justify-content-end">
  <div class="me-4 d-flex align-items-center">
    <i class="fs-4 bi bi-newspaper text-white cursor-pointer"
       ngbTooltip="{{ 'HINT.DEV-NEWS' | translate }}"
       (click)="onClickOpenNewsDialog()">
      @if(showNewsAttention()){
        <ng-template [ngTemplateOutlet]="attentionBell"></ng-template>
      }
    </i>
  </div>
  <div class="me-4 d-flex align-items-center">
    <i class="fs-3 bi bi-person-lines-fill text-white cursor-pointer"
       ngbTooltip="{{'HINT.DEVELOPERS-INFO' | translate }}"
       (click)="onClickOpenDevelopersInfoDialog()"></i>
  </div>
  <div class="me-4 d-flex align-items-center">
    <i class="fs-4 bi bi-filetype-pdf text-white cursor-pointer"
       ngbTooltip="{{'HINT.INSTRUCTION'|translate }}"
       (click)="onClickOpenInstruction()"></i>
  </div>
  <div class="me-5 d-flex align-items-center">
    <i class="fs-4 bi text-white cursor-pointer"
       ngbTooltip="{{'HINT.TOGGLE-THEME'|translate }}"
       placement="bottom"
       [class.bi-brightness-high-fill]="currentTheme() == Theme.LIGHT"
       [class.bi-moon-fill]="currentTheme() == Theme.DARK"
       (click)="onClickToggleTheme()"></i>
  </div>
</div>








































<ng-template #attentionBell>
  <img class="news-attention-config"
       [src]="'public/images/attention-fill.gif'" [alt]="'attention bell'"
       height="16" width="16">
</ng-template>
