@if (fgCalc){
  <form [formGroup]="fgCalc" class="d-flex flex-column">
    <div class="d-flex flex-grow-1 gap-5 mt-3 mb-3">
      <div class="col-my flex-column">
        <label for="step"
               class="form-label">Ступень</label>
        <div class="input-group">
          <select class="form-select border border-primary"
                  id="step"
                  formControlName="step"
                  [required]="fcFieldIsRequired('step')">
            @for (step of getStepValueList(); track step.id){
              <option value="{{ step.value }}">{{ step.name }}</option>
            }
          </select>
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="fcClear('step')">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
      <div class="col-my flex-column">
        <label for="widthOfBladeSlot"
               class="form-label">Ширина лопаточного паза диска</label>
        <div class="input-group">
          <input type="number"
                 class="form-control border border-primary"
                 id="widthOfBladeSlot"
                 placeholder="мм."
                 formControlName="widthOfBladeSlot"
                 [required]="fcFieldIsRequired('widthOfBladeSlot')">
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="fcClear('widthOfBladeSlot')">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-grow-1 gap-5 mb-3">
      <div class="col-my flex-column">
        <label for="minWidthOfBladeShank"
               class="form-label">Наименьшая ширина хвостовика лопатки</label>
        <div class="input-group">
          <input type="number"
                 class="form-control border border-primary"
                 id="minWidthOfBladeShank"
                 placeholder="мм."
                 formControlName="minWidthOfBladeShank"
                 [required]="fcFieldIsRequired('minWidthOfBladeShank')">
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="fcClear('minWidthOfBladeShank')">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
      <div class="col-my flex-column">
        <label for="maxWidthOfBladeShank"
               class="form-label">Наибольшая ширина хвостовика лопатки</label>
        <div class="input-group">
          <input type="number"
                 class="form-control border border-primary"
                 id="maxWidthOfBladeShank"
                 placeholder="мм."
                 formControlName="maxWidthOfBladeShank"
                 [required]="fcFieldIsRequired('maxWidthOfBladeShank')">
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="fcClear('maxWidthOfBladeShank')">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-grow-1 gap-5 mb-3">
      <div class="col-my flex-column">
        <label for="maxHeightOfWorkingBladeAtLeadingEdge"
               class="form-label">Наибольшая высота рабочей лопатки по входной кромке</label>
        <div class="input-group">
          <input type="number"
                 class="form-control border border-primary"
                 id="maxHeightOfWorkingBladeAtLeadingEdge"
                 placeholder="мм."
                 formControlName="maxHeightOfWorkingBladeAtLeadingEdge"
                 [required]="fcFieldIsRequired('maxHeightOfWorkingBladeAtLeadingEdge')">
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="fcClear('maxHeightOfWorkingBladeAtLeadingEdge')">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
      <div class="col-my flex-column">
        <label for="minHeightOfWorkingBladeAtLeadingEdge"
               class="form-label">Наименьшая высота рабочей лопатки по входной кромке</label>
        <div class="input-group">
          <input type="number"
                 class="form-control border border-primary"
                 id="minHeightOfWorkingBladeAtLeadingEdge"
                 placeholder="мм."
                 formControlName="minHeightOfWorkingBladeAtLeadingEdge"
                 [required]="fcFieldIsRequired('minHeightOfWorkingBladeAtLeadingEdge')">
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="fcClear('minHeightOfWorkingBladeAtLeadingEdge')">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-grow-1 gap-5 mb-3">
      <div class="col-my flex-column">
        <label for="maxHeightOfWorkingBladeAtTrailingEdge"
               class="form-label">Наибольшая высота рабочей лопатки по выходной кромке</label>
        <div class="input-group">
          <input type="number"
                 class="form-control border border-primary"
                 id="maxHeightOfWorkingBladeAtTrailingEdge"
                 placeholder="мм."
                 formControlName="maxHeightOfWorkingBladeAtTrailingEdge"
                 [required]="fcFieldIsRequired('maxHeightOfWorkingBladeAtTrailingEdge')">
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="fcClear('maxHeightOfWorkingBladeAtTrailingEdge')">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
      <div class="col-my flex-column">
        <label for="minHeightOfWorkingBladeAtTrailingEdge"
               class="form-label">Наименьшая высота рабочей лопатки по выходной кромке</label>
        <div class="input-group">
          <input type="number"
                 class="form-control border border-primary"
                 id="minHeightOfWorkingBladeAtTrailingEdge"
                 placeholder="мм."
                 formControlName="minHeightOfWorkingBladeAtTrailingEdge"
                 [required]="fcFieldIsRequired('minHeightOfWorkingBladeAtTrailingEdge')">
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="fcClear('minHeightOfWorkingBladeAtTrailingEdge')">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>

    <button class="btn btn-primary w-auto"
            [disabled]="fgCalc.invalid"
            (click)="onClickCalc()">Произвести расчёт</button>
  </form>
}
